:root {
    --main-Color: #480ca8;
}

html, 
body {
    margin: 0;
    height: 100%;
}

#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 0%;
    min-height: 100%;
}

.header {
    grid-column: 2 / 3;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: var(--main-Color);
    display: grid;
    grid-template-rows: 1fr 4fr 4fr;
    color: white;
    font-size: 1.2em;
    padding: 16px 0px 0px 20px;
    font-weight: bold;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
}

.sidebarLinks {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 14px;
    margin-left: 13px;
    align-items: center;
    box-sizing: border-box;
}

.sidebarLinks > svg {
    grid-column: 1 / 2; 
}

.sidebarLinks > div {
    grid-column: 2 / 3;
}

.sidebarIcon {
    height: 34px;
}

.content {
    grid-column: 2 / 3;
    background-color: #ced4da;
}

.dashboardContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.dashboardLogo {
    font-size: 1.5em;
}

.dashboardIcon {
    height: 60px;
}

.divider {
    height: 30px;
}

.searchIcon {
    height: 30px;
    justify-self: end;
    margin-right: 20px;
    padding-left: 100px;
}

.header {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.headerRow1 {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 1fr 1.5fr;
    align-items: center;
    padding-top: 15px;
}

.profilePic {
    border-radius: 50%;
    height: 50px;
    justify-self: center;
}

.headerRow2 {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    align-items: center;
}

.searchBar {
    height: 30px;
    width: 700px;
    background-color: #d3d3d3;
    border-style: none;
    border-radius: 50px;
}

.notification {
    height: 30px;
    justify-self: end;
}

.user {
    font-weight: 600;
    font-size: 1.2em;
    justify-self: start;
    padding-right: 75px;
}

.largeProfilePic {
    border-radius: 50%;
    height: 75px;
    margin-left: 75px;
    padding-right: 15px;
}

.headerRow2 > button {
    height: 35px;
    width: 90px;
    color: white;
    background-color: var(--main-Color);
    border-radius: 50px;
    border-style: none;
    font-weight: bold;
}

.userName, 
.greeting {
    font-weight: bold;
}

.userName {
    font-size: 1.5em;
    margin-top: 5px;
}

.newButton {
    justify-self: end;
}

.uploadButton {
    justify-self: center;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2,1fr);
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.announcementContainer {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.trendingContainer {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}