:root {
    --main-Color: #480ca8;
}

html, 
body {
    margin: 0;
    height: 100%;
}

#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 0%;
    min-height: 100%;
}

.header {
    grid-column: 2 / 3;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: var(--main-Color);
    display: grid;
    grid-template-rows: 1fr 4fr 4fr;
    color: white;
    font-size: 1.2em;
    padding: 16px 0px 0px 20px;
    font-weight: bold;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
}

.sidebarLinks {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 14px;
    margin: 40px 0px 0px 13px;
    align-items: center;
    box-sizing: border-box;
}

.sidebarLinks > svg {
    grid-column: 1 / 2; 
}

.sidebarLinks > div {
    grid-column: 2 / 3;
}

.sidebarIcon {
    height: 34px;
}

.content {
    grid-column: 2 / 3;
    background-color: #ced4da;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
}

.dashboardContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.dashboardLogo {
    font-size: 1.5em;
}

.dashboardIcon {
    height: 60px;
}

.divider {
    height: 30px;
}

.searchIcon {
    height: 30px;
    justify-self: end;
    margin-right: 20px;
    padding-left: 100px;
}

.header {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.headerRow1 {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 1fr 1.5fr;
    align-items: center;
    padding-top: 15px;
}

.profilePic {
    border-radius: 50%;
    height: 50px;
    justify-self: center;
}

.headerRow2 {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    align-items: center;
}

.searchBar {
    height: 30px;
    width: 700px;
    background-color: #d3d3d3;
    border-style: none;
    border-radius: 50px;
    padding-left: 20px;
}

.notification {
    height: 30px;
    justify-self: end;
}

.user {
    font-weight: 600;
    font-size: 1.1em;
    justify-self: start;
    padding-right: 75px;
    width: 150px;
}

.largeProfilePic {
    border-radius: 50%;
    height: 75px;
    margin-left: 75px;
    padding-right: 15px;
}

.headerRow2 > button {
    height: 35px;
    width: 90px;
    color: white;
    background-color: var(--main-Color);
    border-radius: 50px;
    border-style: none;
    font-weight: bold;
}

.userName, 
.greeting {
    font-weight: bold;
}

.greeting {
    font-size: 0.8em;
}

.userName {
    font-size: 1.5em;
    margin-top: 5px;
}

.newButton {
    justify-self: end;
}

.uploadButton {
    justify-self: center;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    box-sizing: border-box;
    margin: 20px 20px 60px 20px;
    gap: 15px;
}

.announcementSectionContainer,
.trendingContainer {
    gap: 15px;
    box-sizing: border-box;
}

.announcementSectionContainer {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.trendingContainer {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.projects,
.announcementSectionContainer,
.trendingContainer {
    display: grid;
    grid-template-rows: 20px 1fr;
}

.yourProject,
.announcementSectionHeader,
.trendingSectionHeader {
    font-size: 20px;
    font-weight: 500;
}

.projectContainer {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    overflow: scroll;
}

.exampleProject {
    background-color: white;
    display: grid;
    grid-template-columns: 10px 1fr;
    grid-template-rows: 1fr 60px;
    border-radius: 12px;
}

.accentColor {
    background-color: #e0aaff;
    grid-row: 1 / 3;
    border-radius: 12px 0px 0px 12px;
}

.projectContent {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 20px;
}

.buttonContainer {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: end;
    padding-right: 15px;
}

.contentIcon {
    box-sizing: border-box;
    height: 25px;
    margin: 10px 10px 20px 10px;
}

.projectHeader {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 5px;
}

.projectDescription {
    font-size: 0.8em;
}

.announcementSectionContainer {
    margin: 20px 20px 10px 20px
}

.trendingContainer {
    margin: 10px 20px 20px 20px;
}

.announcementContainer,
.trendingUserContainer {
    border-radius: 12px;
    background-color: white;
    display: grid;
}

.announcementContainer {
    grid-template-rows: repeat(3, 1fr);
    min-height: 0;
    min-width: 0;
}

.trendingUserContainer {
    grid-template-rows: repeat(3, 1fr);
}

.announcement {
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
    padding: 20px 20px 10px 20px;
    overflow: hidden;
}

.announcementHeader {
    font-weight: 500;                                                                                                                                                                                                                                                                                                                                                                                                                                       
    margin-bottom: 4px;
    font-size: 0.9em;
}

.announcementText {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.8em;
    height: 30%;
}

.trendingUser {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 0;
    min-width: 0;
    overflow: hidden;
}

.trendingProfilePic,
.trendingUserName,
.trendingName {
    overflow: hidden;
    font-size: 0.8em;
}

.trendingProfilePic {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}

.trendingUserName {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: start;
    align-self: end;
    padding-bottom: 2px;
}

.trendingName {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding-top: 2px;
}

.announcement:first-of-type::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 75%;
    padding-top: 20px;
    border-bottom: 1px solid grey;
}

.announcement:nth-of-type(2)::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 75%;
    padding-top: 20px;
    border-bottom: 1px solid grey;
}